<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mr.dao.SearchMapper">

    <!--查询商品类型名-->
    <select id="selectGoodsTypeIds" resultType="com.mr.commont.commodity.GoodsTypeEntry">
        SELECT gt_id gtId,gt_name gtName
        FROM t_goodsType
        <where>
            <foreach collection="ids" item="id" separator="," open="gt_id in (" close=")">
                #{id}
            </foreach>
        </where>
    </select>

    <!--查询商品参数-->
    <select id="selectParameterIds" resultType="com.mr.commont.commodity.Parameter">
        SELECT c_goods_sn cGoodsSn,p_name pName,p_value pValue
        FROM t_parameter
        <where>
            <foreach collection="ids" item="id" separator="," open="c_goods_sn in (" close=")">
                #{id}
            </foreach>
        </where>
    </select>
    <!--根据id查询商品详情-->
    <select id="selectById" resultType="com.mr.utils.SearchCommodityVO">
        SELECT  com.t_commodity_id tCommodityId ,
                com.gt_id gtId,
                com.c_goods_sn cGoodsSn,
                com.c_name cName,
                com.c_counter_price cCounterPrice,
                com.c_retail_price cRetailPrice,
                com.c_is_hot cIsHot,
                com.c_is_new cIsNew,
                com.c_is_on_sale cIsOnSale,
                com.c_keywords cKeywords,
                com.c_unit cUnit,
                com.c_brief cBrief,
                com.c_number cNumber,
                pic.pic_url picUrl,
                pic.pic_type picType
        FROM t_commodity com
		LEFT JOIN t_pic pic ON com.c_goods_sn=pic.c_goods_sn
        WHERE com.c_goods_sn = #{id}
    </select>
</mapper>