<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mr.buy.mapper.BuyMapper">

    <!--根据id查询商品详情-->
    <select id="queryGoods" resultType="com.mr.commont.buy.BuyGoods">
        SELECT  com.t_commodity_id commodityId ,
        com.gt_id gtId,
        com.c_goods_sn goodsSn,
        com.c_name 'name',
        com.c_counter_price counterPrice,
        com.c_retail_price goodsMoney,
        com.c_brief goodsInt
        FROM t_commodity com
        WHERE com.c_goods_sn = #{goId}
    </select>
<!--quan.q_id qId,
        quan.q_status qStatus,
        quan.q_createTime qCreateTime,
        quan.q_endTime qEndTime,
        quan.q_about qAbout
        LEFT JOIN t_quan quan ON com.c_goods_sn=quan.t_quan_id-->

</mapper>